/pife-websocket/node_modules/
/pife-websocket-server/node_modules/

/pife-websocket/dist/
/pife-websocket/build/

/pife-websocket/.env
/pife-websocket-server/.env

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/pife-websocket/.cache/
/pife-websocket-server/.cache/
